@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Press+Start+2P&display=swap');

.wrapper {
  display: grid;
  grid-template-areas:
    'header header header header'
    'status status status status'
    'caption caption caption caption'
    'pet-button gudetama gudetama feed-button'
    'workout-button gudetama gudetama'
}

.header { grid-area: header; }
.status { grid-area: status; }
.caption { grid-area: caption; }
.gudetama { grid-area: gudetama; }
.pet-button { grid-area: pet-button; }
.workout-button { grid-area: workout-button; }
.feed-button { grid-area: feed-button; }

/* .wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 800px;
  max-width: 90%;
  margin: auto;
}

#header, #status, #caption {
  grid-column: span 4;
}

#gudetama {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row: span 2;
}

#pet-button, #workout-button, #feed-button {
  grid-column: span 1;
  grid-row: span 1;
} */

body {
  background: #ffd166;
  font-family: 'Inconsolata';
  color: #073b4c;
}

h1, #caption {
  font-family: 'Press Start 2P';
  color: white;
  text-align: center;
}

h2 {
  text-align: center
}

#gudetama img {
  width: 50vw;
}

#status {
  text-align: center
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 10vw;
  padding: 0px;
  margin: 0px;
}

.col {
  float: left;
  padding: 5vw;
}